body {
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 14px;

    width: 700px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
    display: block;
    font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

input[type=password] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

nav {
    margin-bottom: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #222;
}

nav a {
    text-decoration: none;
}

textarea {
    width: 500px;
    height: 400px;
    font-size: 18px;
}

input[type=submit] {
  font-size: 24px;
}

.author {
    font-size: 14px;
}

.logo {
    color: #222;
    font-weight: bold;
    text-decoration: none;
}

.user {
    float: right;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-title {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 0;
}

.post-title a {
    text-decoration: none;
    color: #333;
}

.post-content {
    font-size: 18px;
    margin-top: 10px;
}

.info {
    font-size: 12px;
    color: rgba(0,0,0,.44);
}

.info a {
    text-decoration: none;
    color: rgba(0,0,0,.44);
}

.post-footer-nav {
    padding-left: 0px;
}

.post-footer-nav li + li {
    margin-left: 5px;
}

.post-footer-nav li {
    display: inline;
    list-style-type: none;
}

.comment {
    width: 100%;
    height: 150px;
}

.publish {
    margin-top: 5px;
}

.comments {
    margin-top: 20px;
}
