<div class="post">
  <div class="post-heading">
    <h3 class="post-title">
      <a href="/blog/{{post.key().id()}}">{{post.subject}}</a>
    </h3>
    <div class="info">
      {{post.author.username}} ·
      {{post.created.strftime("%b %d")}}
      {% if post.author.username == user.username %}
        · <a href="/blog/{{post.key().id()}}/edit">Edit</a>
      {% endif %}
    </div>
  </div>

  <div class="post-content">
    {{post.get_render_text() | safe}}
  </div>

  <div class="post-footer">
    <ul class="post-footer-nav">
      <form method="post">
      <li>
        <button class="like">
          <i class="fa fa-heart-o" aria-hidden="true""></i>
        </button>
        10
      </li>
      <li>
        <a class="icon-link" href="/blog/{{post.key().id()}}#comments"><i class="fa fa-comment-o" aria-hidden="true"></i></a> {{post.comments.count()}}
      </li>
      <form>
    </ul>
  </div>

  {% if show_comments %}
    {% include "comments.html" %}
  {% endif %}
</div>
