{% extends "base.html" %}

{% block user_login %}
  {% include 'user_login.html' %}
{% endblock %}

{% block content %}
  <h2>{{title}}</h2>
    <form method="post">
    <p>subject</p>
    <input type="text" name="subject" value="{{subject}}">
    <br>

    <p>blog</p>
    <textarea name="content">{{content}}</textarea>
    <br>

    {% if error %}
    <p class="error">{{error}}</p>
    {% endif %}

    <input type="submit"></input>
    {% if post_id %}
    <input type="button" value="Cancel" onclick="window.location.href='/blog/5066549580791808'"></input>
    {% endif %}
  </form>

{% endblock %}
