<div class="post">
  <div class="post-heading">
    <h3 class="post-title">
      <a href="/blog/{{post.key().id()}}">{{post.subject}}</a>
    </h3>
    <div class="info">
      {{post.author.username}} ·
      {{post.created.strftime("%b %d")}}
      {% if post.author.username == user.username %}
        · <a href="/blog/{{post.key().id()}}/edit">Edit</a>
      {% endif %}
    </div>
  </div>

  <div class="post-content">
    {{post.get_render_text() | safe}}
  </div>

  <div class="post-footer">
    <ul class="post-footer-nav">
      <li><i class="fa fa-heart-o" aria-hidden="true"></i> 10</li>
      <li><i class="fa fa-comment-o" aria-hidden="true"></i> 5</li>
    </ul>
  </div>

  <h4>Responses</h4>

  {% if can_comment %}
  <form method="post">
    <textarea name="comment" class="comment" placeholder="Write a comment..."></textarea>
    <br>
    <input type="submit" class="publish" value="Publish"></input>
    {% if error %}
      <p class="error">{{error}}</p>
    {% endif %}
  </form>
  {% endif %}

  <div class="comments">
  {% for comment in comments %}
      <div class="info">
      {{comment.author.username}} ·
      {{comment.created.strftime("%b %d")}}
      </div>
      {{comment.text}}
      <br><br>
  {% endfor %}
  </div>


</div>
