<div class="post">
  <div class="post-heading">
    <h3 class="post-title">
      <a href="/blog/{{post.key().id()}}">{{post.subject}}</a>
    </h3>
    <div class="info">
      {{post.author.username}} ·
      {{post.created.strftime("%b %d")}}
      {% if user and (post.author.username == user.username) %}
        · <a href="/blog/{{post.key().id()}}/edit">Edit</a>
        · <a href="/blog/{{post.key().id()}}/delete">Delete</a>
      {% endif %}
    </div>
  </div>

  <div class="post-content">
    {{post.get_render_text() | safe}}
  </div>

  <div class="post-footer">
    <ul class="post-footer-nav">
      {% if front %}
      <form method="post" action="/blog/{{post.key().id()}}/add_like/front">
      {% else %}
      <form method="post" action="/blog/{{post.key().id()}}/add_like">
      {% endif %}
        <input type="hidden" name="post_id" value="{{post.key().id()}}"></input>
        <li>
          <button class="like" {{'disabled' if not post.can_like_or_comment(user)}}>
            <i class="fa fa-heart-o fa-lg valign-10pct {{'bold' if post.has_liked(user)}}" aria-hidden="true""></i>
          </button>
          {{post.likes.count()}}
        </li>
        <li>
          <a class="icon-link" href="/blog/{{post.key().id()}}#comments"><i class="fa fa-comment-o" aria-hidden="true"></i></a> {{post.comments.count()}}
        </li>
      </form>
    </ul>
  </div>

  {% if show_comments %}
    {% include "comments.html" %}
  {% endif %}
</div>
