<!DOCTYPE html>
<html>
<head>
  <link type="text/css" href="css/styles.css" rel="stylesheet">
  <title>Sign Up</title>
</head>
<body>
  <h2>Signup</h2>
  <form method="post">
      <table>
        <tbody><tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
          <td class="error">
          {% if username_error %}
            {{username_error}}
          {% endif %}
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
          {% if password_error %}
            {{password_error}}
          {% endif %}
          </td>
        </tr>

        <tr>
          <td class="label">
            Verify Password
          </td>
          <td>
            <input type="password" name="verify" value="">
          </td>
          <td class="error">
          {% if verify_error %}
            {{verify_error}}
          {% endif %}
          </td>
        </tr>

        <tr>
          <td class="label">
            Email (optional)
          </td>
          <td>
            <input type="text" name="email" value="{{email}}">
          </td>
          <td class="error">
          {% if email_error %}
            {{email_error}}
          {% endif %}
          </td>
        </tr>
      </tbody></table>

      <input type="submit">
    </form>
</body>
</html>
